.completed {
  color: green;
  text-decoration: line-through green;
  font-weight: bold;
}

.form-control {
  width: 49em;
}
.wrapper {
  margin: auto;
  // display: flex;
}
.container-fluid {
  display: flex;
}
.input {
  display: flex;
  border: 1em solid#eeeeee;

  border-radius: 5px;
}

.actionBtns {
}

#addBtn {
  margin-left: 1px;
}
#span {
  max-width: 33.5em;
}
.btns {
  ul {
    li {
      display: inline;
      margin-left: 3px;
    }
  }
}
.card {
  width: 45em;
  margin: 5px auto;
}
.card-body {
  display: flex;
  justify-content: space-between;
}
.condition {
  span {
    text-align: center;
    color: grey;
  }
}
li{
  display: flex;
}

.stat {
  ul{
    li{
      margin-left: 10px;
      h5{
        font-size: 20px;
      }
    }
    
  }

  margin: 2em auto ;
  width: 25em;
  
}

.stats{
  display: flex;
}