<div class="main">
  <div class="inputs">
    <div class="input">
      <input
        type="text"
        class="form-control"
        placeholder="Enter Title"
        [(ngModel)]="todoTitle"
        maxlength="100"
        (keyup.enter)="checkEnter()"
      />
    </div>

    <div class="textarea">
      <textarea
        class="form-control"
        placeholder="Description here"
        id="floatingTextarea2"
        style="height: 100px"
        maxlength="1000"
        (keyup.enter)="checkEnter()"
        [(ngModel)]="todoDescription"
      ></textarea>
    </div>

    <div class="actionBtn">
      <button
        type="button"
        id="addBtn"
        class="btn btn-secondary"
        (click)="handleAddTodo()"
      >
        Add Task
      </button>
    </div>
  </div>

  <div *ngIf="!this.todo.handleSearchAndOriginal(); else block">
    <div class="stat">
      <ul class="stats">
        <li>
          <h5><b>Total :</b> {{ this.todo.totalItems }}</h5>
        </li>
        <li>
          <h5><b>Incomplete:</b> {{ this.todo.undoList.length }}</h5>
        </li>
        <li>
          <h5><b>Completed :</b> {{ this.todo.doneList.length }}</h5>
        </li>
      </ul>
    </div>

    <table>
      <tr>
        <th class="titles">Items</th>
        <th class="titles">Actions</th>
      </tr>
      <tr *ngFor="let item of this.todo.userData">
        <td class="titles">
          <span [ngClass]="{ completed: item['completed'] }">{{
            item.title
          }}</span>
        </td>
        <td>
          <div class="btns">
            <ul>
              <li *ngIf="!item['completed']; else block">
                <button
                  type="button"
                  class="btn btn-success btn-bg"
                  (click)="this.todo.completeToDo(item['id'])"
                >
                  Done
                </button>
              </li>
              <ng-template #block>
                <li>
                  <button
                    type="button"
                    class="btn btn-success btn-bg"
                    (click)="this.todo.undoTodo(item['id'])"
                  >
                    Undo
                  </button>
                </li>
              </ng-template>
              <li>
                <button
                  type="button"
                  class="btn btn-primary"
                  data-bs-toggle="modal"
                  data-bs-target="#exampleModal"
                  (click)="this.todo.handleModal(item)"
                >
                  <span>Show</span>
                </button>
              </li>
              <li>
                <button
                  type="button"
                  class="btn btn-danger btn-bg"
                  (click)="this.todo.deleteTodo(item['id'])"
                >
                  Delete
                </button>
              </li>
            </ul>
          </div>
        </td>
      </tr>
    </table>
    <div class="navs">
      <div>
        <button
          *ngIf="this.todo.page > 1"
          mat-raised-button
          (click)="[this.todo.handlePrevious()]"
        >
          Previous page
        </button>

        <button mat-raised-button (click)="[this.todo.handleNext()]">
          Next page
        </button>
      </div>
      <span>Total :{{ this.todo.totalpages }}</span>
    </div>
  </div>

  <ng-template #block>
    <div *ngIf="this.todo.searchResults.length > 0; else block">
      <div class="stat">
        <ul class="stats">
          <li>
            <h5><b>Total :</b> {{ this.todo.totalSearchedItems }}</h5>
          </li>
          <li>
            <h5><b>Incomplete:</b> {{ this.todo.undoList.length }}</h5>
          </li>
          <li>
            <h5><b>Completed :</b> {{ this.todo.doneList.length }}</h5>
          </li>
        </ul>
      </div>
      <table>
        <tr>
          <th class="titles">Items</th>
          <th class="titles">Actions</th>
        </tr>
        <tr *ngFor="let item of this.todo.searchResults">
          <td class="titles">
            <span [ngClass]="{ completed: item['completed'] }">{{
              item.title
            }}</span>
          </td>
          <td>
            <div class="btns">
              <ul>
                <li *ngIf="!item['completed']; else block">
                  <button
                    type="button"
                    class="btn btn-success btn-bg"
                    (click)="this.todo.completeToDo(item['id'])"
                  >
                    Done
                  </button>
                </li>
                <ng-template #block>
                  <li>
                    <button
                      type="button"
                      class="btn btn-success btn-bg"
                      (click)="this.todo.undoTodo(item['id'])"
                    >
                      Undo
                    </button>
                  </li>
                </ng-template>
                <li>
                  <button
                    type="button"
                    class="btn btn-primary"
                    data-bs-toggle="modal"
                    data-bs-target="#exampleModal"
                    (click)="this.todo.handleModal(item)"
                  >
                    <span>Show</span>
                  </button>
                </li>
                <li>
                  <button
                    type="button"
                    class="btn btn-danger btn-bg"
                    (click)="this.todo.deleteTodo(item['id'])"
                  >
                    Delete
                  </button>
                </li>
              </ul>
            </div>
          </td>
        </tr>
      </table>

      <div class="navs">
        <nav aria-label="Page navigation example">
          <ul class="pagination">
            <li class="page-item" (click)="[this.todo.handlePreviousSearchPage()]">
              <a class="page-link" aria-label="Previous">
                <span aria-hidden="true" >&laquo;</span>
              </a>
            </li>
            <li class="page-item" *ngFor="let number of this.todo.buttonArray" >
              <a class="page-link" (click)="this.todo.activatePage(number)" >
                <span *ngIf="this.todo.searchPage == number else block" ngClass="active">{{ number }}</span>
                <ng-template #block>
                  <span>{{ number }}</span>
                </ng-template>
              </a>
            </li>
            <li class="page-item" (click)="[this.todo.handleNextSearchPage()]">
              <a class="page-link" aria-label="Next">
                <span aria-hidden="true" >&raquo;</span>
              </a>
            </li>
          </ul>
        </nav>
      </div>
    </div>
    <h3>{{this.todo.searchPage}}</h3>

    <ng-template #block>
      <h4 id="noItem">No Such Item</h4>
    </ng-template>
  </ng-template>
</div>

<!---------------------------- modal ------------------------->
<div
  class="modal fade"
  id="exampleModal"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Todo Details</h1>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <h4 id="title"></h4>
        <hr />
        <p id="description"></p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
          Close
        </button>
      </div>
    </div>
  </div>
</div>
