
.wrapper {
  margin: auto;
}
.container-fluid {
  display: flex;
}
li {
  list-style: none;
  margin-top: 7px;
}
li {
  display: flex;
}
#span {
  max-width: 45em;
}
.card {
  width: 90%;
  margin: 5px auto;
}
.card-body {
  display: flex;
  justify-content: space-between;
}
.btns {
  ul {
    
    li {
      display: inline;
      margin-left: 1px;
    }
  }
}
.stats{
  text-align: center;
 
}
h3{
  font-size: 18px;
  font-weight: bold;
  text-align: center;
}
.title{
  color: gray;
}
#desc{
font-style: italic;
}