.main{
display: flex;
justify-content: center;  
}
ul li{
  list-style-type: none;
  padding : 10px;
  display: flex;
  justify-content: space-between;
  width:450px;
  align-items: center;
}
h1{
  font-size: 18px;
  text-align: center;

}

.player {
  position: absolute;
  bottom: 0;
}
audio{
  width: 91em
}
img{
  width: 20px;
  margin-left: 10px;
}
h3{
  font-size: 20px;
  margin-left: 3%
}
button{
  padding:5px;
}