<h1>
  List of Audio Files
</h1>
<div class="main">
  <div class="list">
    <ul>
      <li *ngFor="let item of this.waves.waves">
        <div>
          <img src="../../../assets/sound.png" />
          {{ item["title"] }}
        </div>
        <div>
          <button class="btn btn-primary" (click)="handlePlay(item['path'])">
            PLAY
          </button>
        </div>
      </li>
    </ul>
  </div>
  <div *ngIf="this.test" class="player">
    <audio controls controlsList="nodownload noplaybackrate">
      <source src="{{ this.test }}" />
      Your browser does not support the audio element.
    </audio>
  </div>
</div>
