<div>
  <nav>
    <ul>
      <div>
        <li class="nav_link">
          <a routerLink="/home" routerLinkActive="active">All</a>
        </li>
        <li class="nav_link">
          <a routerLink="/completed" routerLinkActive="active">Done</a>
        </li>
        <li class="nav_link">
          <a routerLink="/uncompleted/" routerLinkActive="active">Todo</a>
        </li>
      </div>
      <div>
        <li class="nav_link">
          <span> {{ this.userName }} &nbsp;&nbsp; | </span> &nbsp;&nbsp;

          <a routerLink="" (click)="handleLogOut()">
            <button class="btn btn-primary btn-sm" type="button" value="Input" id="lgBtn">
              Logout
            </button>
          </a>
        </li>
      </div>
    </ul>
  </nav>
</div>

